<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="Menu.xsl"?>
<catalogue xsi:schemaLocation="Menu.xsd"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="$LOCAL_SCHEMA$">
    <menu prix="20" boisson="incluse au choix">
        <entree type="froide">
            <nom>Tartare de saumon</nom>
            <description>un tartare de saumon est un plat de la cuisine française, reprenant le principe du steak tartare, mais en l'appliquant au saumon.</description>
        </entree>
        <plat>
            <nom>Blanquette de veau facile</nom>
            <description>un plat traditionnel, la blanquette de veau, version Hervé Cuisine, qui se traduit par une viande fondante et une sauce onctueuse</description>
        </plat>
        <fromage>
            <nom>Le Bleu d'Auvergne</nom>
            <description>un fromage français de lait de vache du Massif central.</description>
        </fromage>
        <dessert>
            <nom>Crème brulée</nom>
            <description>un dessert composé de jaunes d'œufs, de sucre, de crème, de vanille et de caramel</description>
        </dessert>
        <dessert>
            <nom>Choux crème et citron vert</nom>
            <description>un dessert composé de choux à la crème de citron vert</description>
        </dessert>
    </menu>
    <menu prix="15" boisson="incluse au choix">
        <entree type="chaude">
            <nom>Soupe vitaminée</nom>
            <description>une soupe composée de carotte, orange et panais</description>
        </entree>
        <plat>
            <nom>Lasagnes à la bolognaise</nom>
            <description>une des spécialités italiennes</description>
        </plat>
        <dessert>
            <nom>Flan parisien</nom>
            <description>un flan sur une base de pâte brisée</description>
        </dessert>
    </menu>
    <menu prix="15" boisson="incluse au choix">
        <entree type="froide">
            <nom>Salade de crevettes au curry</nom>
            <description>une salade à base de crevettes et une sauce de cuzzy</description>
        </entree>
        <plat>
            <nom>Sauté de veau au chorizo</nom>
            <description>une recette portugaise</description>
        </plat>
        <dessert>
            <nom>Oeufs à la neige crème à la vanille</nom>
            <description>un dessert composé de lait, ouefs, et sucre</description>
        </dessert>
    </menu>
    <boissons>
        <boisson>
            <nom>Eau Plate</nom>
        </boisson>
        <boisson>
            <nom>Eau Gazeuse</nom>
        </boisson>
        <boisson>
            <nom>Coca Cola</nom>
        </boisson>
    </boissons>
    <moyenPaiement>Carte Bancaire</moyenPaiement>
    <moyenPaiement>Espece</moyenPaiement>
    <moyenPaiement>Paypal</moyenPaiement>
</catalogue>